@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;

}
/* Logo-Encabezado */
.encabezado{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    height: 100px;
}
/* Logo-Nombre */
.logo{
    width: 250px;
    height: 95px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Buscador */
#input{
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
}
/* Contenedor Menu */
.contenedor_nav{
    width: 100%;
    height: 50px;
    background:linear-gradient(220deg,#032c3d,#090909);
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;

}
nav > ul > li >a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding: 14px;
    text-transform:uppercase ;
    font-size: 14px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

nav > ul > li >a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: linear-gradient(250deg,#085E7F,#031F2A);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: inherit;
}
#login{
    background: linear-gradient(250deg,#085E7F,#031F2A);
    background-image: url(../Imagenes/usuario.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
    background-color: rgb(24, 182, 197);
}
/* Menu Desplegable */
#menu_op{
    display: none;
    list-style: none;
    color: white;
    font-size: 16px;
}

#nombre_empresa{
    color:white;
    background-color: crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: center;
    width: 150px;
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: justify;
    display: flex;
}
.cate_base:hover #menu_op{
    display: block;
    top:58px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: linear-gradient(250deg,#36024a,#01151d);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}
.sub{
    padding-left:4px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
}
nav #menu_op .cate_aparecer:hover {
    background-color: #032c3d;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding-left: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* Cuerpo */
main{
    margin-top: 151px;
    margin-left: 20px;
    height: 500px;
    width: 1300px;
}

.sub-cuerpo{
    display: flex;
    margin-top: 190px;
    justify-content: space-around;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
main a{
    text-decoration: none;
    background: #087aa7;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
    color: black;
    font-size: 14px;
    font-family: 'Sono', sans-serif;
}
main a:hover{
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;
    transition: calc(1.1);
    -webkit-transition: calc(1.1);
    -moz-transition: calc(1.1);
    -ms-transition: calc(1.1);
    -o-transition: calc(1.1);
    font-family: 'Sono', sans-serif;
    font-size: 15px;
}
.tarjeta{
    width: 290px;
    height: auto;
    border: solid 1px ;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
main img{
    padding: 5px;
    padding-bottom: 0;
    width: 90%;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.tarjeta:hover{
    padding: 7px;
}
.desplegable{
    text-align: justify;
    font-size: 12px;
    padding: 3px;
}
main h4{
    font-size: 12px;
}
footer h3{
    margin-top: 500px;
}
.links{
    width: auto;
    display: flex;
    gap: 50px;
    height: auto;
    flex-wrap: wrap;
    column-gap: 550px;
    position: static;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;

}
footer a:hover{
    color: rgb(36, 36, 223);

}